@import "../../../styles/utils/variables";

#drawer-wrapper{
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;

    display: block;

    width: 350px;

    background: var(--content);

    box-shadow: var(--box-shadow);

    will-change: transform;

    z-index: 1000;

    &.open{
        transform: translateX(100%);
    }
    &.closed{
        transform: translateX(0);
    }
}
#drawer-span{
    width: 20px;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    display: block;

    z-index: 1000;
}