<div class="auth-wrapper">
    <form class="auth-form">

        <div class="auth-input-wrapper">
            <span class="auth-input-wrapper__icon material-icons">user</span>
            <input class="auth-input-wrapper__input" id="login_name" type="text" name="login_name"
                placeholder="Username" autofocus>
        </div>

        <div class="auth-input-wrapper">
            <span class="auth-input-wrapper__icon material-icons">user</span>
            <input class="auth-input" id="login_password" type="password" name="login_password" placeholder="Password">
        </div>

        <button class="auth-submit" type="submit">Login</button>

    </form>
</div>