@import "../../../styles/utils/variables";

.auth-submit{
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px 10px;
    width: 100%;
    background: $primary;
    color: var(--content);
    border-radius: $radius;
    cursor: pointer;
    
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.auth-submit[disabled]{
    cursor: not-allowed;
    filter: grayscale(100%);
}
.auth-submit__loader{
    width: 7px;
    height: 7px;

    margin: 0 4px;

    border-radius: 50%;
    background: rgba(127.5,127.5,127.5,.1);
}
.auth-submit__loader[data-delay='0']{
    animation: loader .5s ease-in-out 0s infinite alternate;
}
.auth-submit__loader[data-delay='1']{
    animation: loader .5s ease-in-out .5s infinite alternate;
}
.auth-submit__loader[data-delay='2']{
    animation: loader .5s ease-in-out 1s infinite alternate;
}
@keyframes loader {
    0%{
        background: rgba(127.5,127.5,127.5,.1);
    }
    100%{
        background: rgba(127.5,127.5,127.5,.4);
    }
}