@import "../../../styles/utils/variables";

.auth-wrapper__field{
    margin-bottom: 1.5rem;
}
.auth-wrapper__label{
    transition: all .2s ease-in-out;

    color: var(--color-light);
    display: inline-block;
    font-size: $small;
    letter-spacing: 1px;
}
.auth-wrapper__label--as-wrapper{
    display: inline-block;
    margin-bottom: 6px;
}
.auth-wrapper__label--disabled{
    display: inline-block;
    color: var(--color-transparent);
}
.auth-wrapper__label--active{
    display: inline-block;
    font-weight: 600;
    color: $primary;
}
.auth-wrapper__label--error{
    display: inline-block;
    color: $danger;
    font-weight: 900;
}
.auth-wrapper__label--success{
    display: inline-block;
    color: $success;
}


.auth-input-wrapper{
    border: 1px solid var(--fallback);

    display: flex;
    align-items: center;
    background: var(--content);
    border-radius: $radius;
    overflow: hidden;

    transition: all .2s ease-in-out;
}
.auth-input-wrapper--focus-here{
    animation: focus-here 1s ease-in-out 0s 1 alternate;
    animation-fill-mode: backwards;
}
.auth-input-wrapper--error{
    font-weight: 900;
    border: 1px solid $danger;
}
.auth-input-wrapper__input{
    flex: 1;
    padding: 10px 16px;
    color: var(--color);

    &::placeholder{
        color: var(--color-light);
    }
}
.auth-input-wrapper__icon{
    color: var(--color);
    margin: 0 4px;
    font-size: 1em;
    &:first-child{
        padding: 12px;
        padding-right: 4px;
    }
    &:last-child{
        padding: 12px;
        padding-left: 4px;
    }
}

@keyframes focus-here{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.15;
    }
    100%{
        opacity: 1;
    }
}